<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login to Chatroom</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <link href="/css/loginStyle.css" rel="stylesheet">
</head>

<body>
    <div id="buttonContainer">
        <form action="" method="post" id="form" style="height: 50vh;">
            <h2 style="color:white;">Login or Register</h2 s>
            <div id="userpass">
                <h4>Username:</h5>
                <input type="text" placeholder="Username" name="username" class="inputField" required>
                <h4>Password:</h4>
                <input type="password" placeholder="Password" name="password" class="inputField" id="pass" required>
                <br><br>
                <button type="button" class="submitBtn" id="but">Login</button>
                <!--https://www.bestcssbuttongenerator.com/#/6-->
            </div>
        </form>
    </div>

    <script>
        $("#but").click(function() {
            $.ajax({
                type: "POST",
                url: "/",
                data: {
                    username : $("input[name='username']").val(),
                    password : $("input[name='password']").val()
                },
                success : function(data) {
                    if(Object.keys(data).length !== 1) {
                            sessionStorage.setItem("username", data[Object.keys(data)[0]]);
                            sessionStorage.setItem("color", data[Object.keys(data)[1]]);
                            window.location.href = data[Object.keys(data)[2]];
                        } else
                            window.location.href = data[Object.keys(data)[0]];
                }
            });
        });
        document.getElementById("pass").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#but").click();
            }
        });
    </script>
</body>
